<header>

	<div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container'>

        <div class='navbar-header'>
          <a href='/' class='navbar-brand' id='blog-title'>
            MOOQOO
          </a>
          <!-- how to make the navbar-toggle move to the very left -->
          <button type='button' class='navbar-toggle'
                  data-toggle='collapse'
                  data-target='.navbar-collapse'> 
            <span class='sr-only'>Button</span> 
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>

        <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
          <li><a href='about.html'>About me</a></li>
          <li><a href='/'>Posts</a></li>
          <!-- Github icon -->
          <!-- Linkedin icon -->
        </ul>
      </div>
    </div>
</header>
