<header>
	<div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='container'>

        <div class='navbar-header'>
          <a href='/' class='navbar-brand' id='blog-title'>
            MOOQOO
          </a>
          <!-- how to make the navbar-toggle move to the very left -->
          <button type='button' class='navbar-toggle'
                  data-toggle='collapse'
                  data-target='.navbar-collapse'> 
            <span class='sr-only'>Button</span> 
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
        </div>

        <ul class='nav navbar-nav navbar-right collapse navbar-collapse'>
          <!-- home -->
          <li><a href='/'><i class='fa fa-user icon'></i> Home </a></li>

          <!-- Github icon: http://fortawesome.github.io/Font-Awesome/icon/github-alt/ -->
          <li><a href='https://github.com/mooqoo'><i class="fa fa-github-alt icon"></i> Github </a></li>

          <!-- Linkedin icon -->
          <li><a href='https://www.linkedin.com/pub/albert-wang/91/120/6aa'><i class="fa fa-linkedin icon"></i> Linkedin </a></li>
          
          <!-- about me -->
          <li><a href='/about.html'><i class='fa fa-home icon'></i> About </a></li>
        </ul>
      </div>
    </div>
</header>
