footer {
	background: url(../assets/img/header_bg.jpg) center center;
	background-size: cover;
	
	.lockup{
		padding: 10px 20px;
		@include clearfix;


		.logo {
			float: left;
			margin: 5px 0 0 5px;
			background: white;
			@include size(50px);
			border: 1px solid black;
			@include border-top-radius(15px);
			@include border-right-radius(15px);
			@include border-bottom-radius(15px);
			@include border-left-radius(15px);
		}

		.wrap-content {
			float: left;
			margin: 5px 0 0 30px;

			a {
				display: inline-block;
				margin-right: 20px;
				text-transform: uppercase;
				color: rgba(255,255,255,0.9);;

				&:hover {
	        		color: rgba(255,255,255,1);
	    		}

	    		&:visited {
	    			color: rgba(255,255,255,0.9);;
	    		}
			}

			.copyright {
				color: white;
				text-transform: uppercase;
			}
		}

	}
}