header	{
	height: 450px;
	background: url(../assets/img/header_bg.jpg) center center;
	background-size: cover;

	.logo {
		float: left;
		margin: 5px 0 0 5px;
		background: white;
		@include size(50px);
		border: 1px solid black;
		@include border-top-radius(15px);
		@include border-right-radius(15px);
		@include border-bottom-radius(15px);
		@include border-left-radius(15px);
	}

	nav {
		float: right;
		margin: 20px 30px 0 0;
		a {
			display: inline-block;
			margin-left: 20px;
			text-transform: uppercase;
			color: rgba(255,255,255,0.9);;

			&:hover {
        		color: rgba(255,255,255,1);
    		}

    		&:visited {
    			color: rgba(255,255,255,0.9);;
    		}
		}
	}

	h1 {
		clear: both;
		text-align: center;
		font: {
			size: 72px; 
			weight: 700;
		}
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin-bottom: 10px;
		padding-top: 20px;

		span {
			display: inline-block;
			padding: 1em;
			border: white solid 10px;
		}
	}

	.kicker {
		text-align: center;
		font: {
			weight: 700;
		}
		text-transform: uppercase;
		letter-spacing: 0.05em;
		color: white;
	}



}

/**
 * Site header: class
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}